/* Hannah Murray ; The Charles */

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 400;
  src: local('Old Standard TT Regular'), local('OldStandardTT-Regular'), url(http://themes.googleusercontent.com/static/fonts/oldstandardtt/v5/n6RTCDcIPWSE8UNBa4k-DOeKpinAksS0bOq9o5QARNc.woff) format('woff');
}

@font-face {
  font-family: 'Old Standard TT Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Old Standard TT Bold'), local('OldStandardTT-Bold'), url(http://themes.googleusercontent.com/static/fonts/oldstandardtt/v5/5Ywdce7XEbTSbxs__4X1_CIk_qWs4Bq7Qljawt51rk4.woff) format('woff');
}

body {
	text-align: center;
}

.masthead {
	margin: 2% 0;
}

.masthead nav {
	margin-top: 5%;
	font-family: 'Open Sans';
	text-transform: uppercase;
}

.masthead a {
	text-decoration: none;
	color: #3d404e;
	font-size: 13px;
	letter-spacing: .2em;
}

.masthead .alpha {
	padding-right: 5%;
}

.masthead .omega {
	padding-left: 5%;
}

.flexslider {
	margin-bottom: 2%;
}

.caption {
	color: #3e404e;
	width: 41%;
	margin: 0 auto;
}

hr {
	width: 150px;
	height: .15em !important;
	border: none !important;
	background-color: #3d404e;
	margin-bottom: 4%;
}

.caption h1 {
	font-family: 'Old Standard TT Bold';
	text-transform: uppercase;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: .15em;
}

.caption p {
	font-family: 'Open Sans Light';
	font-size: 18px;
	line-height: 27px;
}

.plan {
	margin-top: 4%;
	background-color: #3d404e;
}

.plan .wrapper {
	width: 780px;
	margin: 0 auto;
}

.plan h1 {
	padding-top: 4%;
	text-transform: uppercase;
	font-family: 'Old Standard TT Bold';
	color: white;
	letter-spacing: .2em;
}

.plan p {
	text-align: left;
	font-family: 'Old Standard TT';
	font-size: 16px;
	letter-spacing: .05em;
	color: white;
}

form {
	text-align: left;
	font-family: 'Open Sans Light';
	padding-bottom: 4%;
	color: #8287a6;
}

.row {
	width: 100%;
	margin-bottom: 2%;
}

input,
select {
	background-color: #3d404e;
	border: 1px solid #8287a6;
	color: #8287a6;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  width: 20%;
}

.budget::-webkit-input-placeholder {
	color: #8287a6;
}

input[type=text] {
	width: 50%;
	outline: 0;
}

input[type=date] {
	width: 20%;
}

.input-helper {
	position: relative;
	display: inline-block;
	margin-bottom: 5px;
}

.input-helper:before {
	content: '';
	display: block;
	position: absolute;
}

.input-helper--checkbox {
	padding-left: 20px;
}

.input-helper--checkbox:before {
	top: 2px;
	left: 0;
	width: 13px;
	height: 13px;
	border: 1px solid #8287a6;
}
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + label:before {
    background: #8287a6;
}

textarea {
	width: 780px;
	background-color: #3d404e;
	border-color: #8287a6;
	color: #8287a6;
}

footer {
	margin: 1% 0;
	border-top: 1px solid #3d404e;
	border-bottom: 1px solid #3d404e;
}

footer h1 {
	margin-top: 7%;
	font-family: 'Old Standard TT Bold';
	font-size: 30px;
	letter-spacing: .2em;
	color: #3d404e;
	text-transform: uppercase;
}

footer img {
	vertical-align: sub;
	padding-right: 1%;
}

.phone,
.email {
	color: #3d404e;
	font-family: 'Old Standard TT';
	font-size: 24px;
	letter-spacing: .1em;
	line-height: 36px;
}

.social {
	margin: 5% 0;
}

.social .alpha {
	margin-left: 0;
}

.social a {
	margin-left: 3%;
}